li.comment_item{
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #DCE6FF;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 20px;
    padding: 24px 30px;
    p{
        color: #152C61;
        font: normal 300 16px/24px 'Poppins';
        margin-bottom: 20px;
        width: 100%;
    }
    ul.action_list{
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        width: 100%;
        li{
            list-style: none;
            margin-right: 30px;
            button{
                background-color: transparent !important;
                border-radius: 0px !important;
                border: none !important;
                color: #707070 !important;
                font: normal 400 16px/24px 'Poppins' !important;
                margin: 0px !important;
                padding: 0px !important;
                text-align: left !important;
                span.action_icon{
                    display: inline-block;
                    margin-right: 10px;
                    vertical-align: middle;
                }
            }
            button.edit_button{
                color: #2C6BFF;
                span.action_icon{
                    background: url("../../../../assets/images/group_2020.png") no-repeat -31px -4px;
                    height: 22px;
                    vertical-align: top;
                    width: 22px;
                }    
            }
            button.delete_button{
                span.action_icon{
                    background: url("../../../../assets/images/group_2020.png") no-repeat -64px -5px;
                    height: 19px;
                    width: 16px;
                }    
            }
        } 
        li:last-child{
            color: rgba(0, 0, 0, 0.6);
            font: normal 400 16px 'Poppins';
            margin-right: 30px;
            span.user{
                font: normal 600 16px 'Poppins'; 
            }
            span.action_icon{
                background: url("../../../../assets/images/user_placeholder.png") no-repeat;
                display: inline-block;
                height: 24px;
                margin-right: 10px;
                vertical-align: top;
                width: 24px;
            } 
        }
    }
}